<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/styles.css">
  <title>About Us Page</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>
  <%- include('header') %>
  
  <h2 style="text-align:center; margin-bottom:25px;">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets/images/pic3.jpg" style="width:100%">
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/images/pic2.jpg" style="width:100%">
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="assets/images/pic1.jpg" style="width:100%">
      </div>
    </div>
  </div>
  <div class="about-section">
    <h2 class="font-weight-bold" style="margin-bottom: -25px;">About Us</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>
  
  
  

  <%- include('footer') %>

</body>

</html>