<!DOCTYPE html>
<html>
<head>
    <title>Counsellor Sign Up</title>
    <link rel="stylesheet" type="text/css" href="css/registrationStyle.css">
    <!-- <link rel="stylesheet" href="../css/registrationStyle.css"> -->
    <script defer src="js/counsellorRegistration.js"></script>
</head>
<body>
<!-- IMPORTING HEADER -->

<%- include('header') %>

  <!-- - Name, age, qualification degree, phone, govt id, email, password, description (about the counsellor) -->
  <div class="container">
    <form action="/counsellorRegistration" method="POST" enctype="multipart/form-data" id="form" style="border:1px solid #ccc">
      
        <h1>Counsellor Registration</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
      <div class="input-control">
        <label for="User Name"><b>Name</b></label>
        <input type="text" placeholder="Enter your Name" name="name" id="username">
        <div class="error"></div>
      </div>
    
        <div class="input-control">
        <label for="Age"><b>Age</b></label>
        <input type="number" placeholder="Age" name="age" id="age">
        <div class="error"></div>
      </div>
    
        <div class="input-control">
        <label for="Phone Number"><b> Phone Number</b></label>
        <input type="number" placeholder="Phone Number" name="phone" id="phone">
        <div class="error"></div>
      </div>

      <div class="input-control">
        <label for="govtId"><b>Id proof </b></label>
        <input type="text" placeholder="govtId" name="govtId" id="govtId">
        <div class="error"></div>
      </div>

      <div class="input-control">
        <label for="Adress"><b>Address</b></label>
        <input type="text" placeholder="Enter your Address" name="address" id="address">
        <div class="error"></div>
      </div>


      <div class="input-control">
        <label for="Qualification"><b>Qualification </b></label>
        <input type="text" placeholder="Qualification" name="qualification" id="qualification">
        <div class="error"></div>
      </div>

      <div class="input-control">
        <label for="About"><b>About You </b></label>
        <input type="text" placeholder="Let us about yourself" name="description" id="about">
        <div class="error"></div>
      </div>
    
    
      <div class="input-control"> 
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email">
        <div class="error"></div>
       </div>
    
        <div class="input-control">
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" id="password">
        <div class="error"></div>
      </div>
         <div class="input-control">
        <label for="psw-repeat"><b>Confirm Password</b></label>
        <input type="password" placeholder="Confirm Password" name="password2" id="password2">
        <div class="error"></div>
      </div>
      <div class="input-control">
        <label for="image"><b>Profile Image</b></label>
        <input type="file" name="profileImage" accept="image/*" />
      </div>
        <button type="submit" id="submit" class="signupbtn">Sign Up</button>
     
    </form>
    </div>
<!-- IMPORTING FOOTER -->

<%- include('footer') %>
</body>
</html>
