<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/landingPage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Home Page</title>
  </head>
  <body>
      
<!-- START FOOTER -->
<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-4 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/aboutUs">ABOUT US</a></li>
                        <li><a href="#">CONTACT US</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-4 item">
                    <h3>Address</h3>
                    <ul>
                        
                          <li> 10/1, 13th A Cross, Adjessent To Bangalore Hospital, Jayanagar</li>
                        <li> Bangalore,Karnataka 65806</li> 
                         <li> Office: 703.548.1225</li>
    
                        
                    </ul>
                </div>
        
                <div class="col-lg-3 item social"><a  href="https://facebook.com/" class="fa fa-facebook" id="soc.media"></a>
                        <a href="https://twitter.com/" class="fa fa-twitter"></a>
                            <a href="https://instagram.com/" class="fa fa-instagram"></a>  
                    <p class="copyright">ConfabMedical Health © 2022</p>
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- END FOOTER -->

</body>
</html>
