<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="css/landingPage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
<!-- START NAVBAR -->


<nav id="main-nav">
    <ul>
      <li>
       <div class="brand"> <a href="/"><img class="logo" src="assets/images/logo.png"></a></div>
      </li>
      <li>
        <a href="/aboutUs">About Us</a>
      </li>
      <li>
        <a href="#contactUs">Contact Us</a>
      </li>
      <li>
        <a href="#">Login
          <span class="arrow">&#x25BC;</span>
        </a>
        <ul class="submenu">
          <li>
              <a href="/userLogin">USER LOGIN</a>
          </li>
          <li>
              <a href="/counsellorLogin">COUNSELLOR LOGIN</a>         
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Register
          <span class="arrow">&#x25BC;</span>
        </a>
        <ul class="submenu">
          <li>
              <a href="/userRegistration">USER RESGISTRATION</a>
          </li>
          <li>
            
              <a href="/counsellorRegistration">COUNSELLOR REGISTRATION</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
<!-- END NAVBAR -->
</body>
</html>